In [7]:
# Tuples, unlike lists or dict, are inmutable objects
foo = ("Woo", "wasp")
# Requires comma at the end if it's only
# one item.
bar = ("one item",)
print(foo)

('Woo', 'wasp')

In [6]:
type(foo)

tuple

In [13]:
[item for item in foo]

['Woo', 'wasp']

In [9]:
# Get items from tuple
len(foo)

2

In [30]:
# Concat two tuples
t_one = ("foo", "bar", "baz")
t_two = ("baz")

# When you forger the comma on t_two..
print(type(t_two))
t_one + t_two

<class 'str'>

TypeError: can only concatenate tuple (not "str") to tuple

In [31]:
# This will work...
t_two = ("baz",)

t_one + t_two

('foo', 'bar', 'baz', 'baz')

In [23]:
(t_two)*4

('baz', 'baz', 'baz', 'baz')

In [28]:
# Start from left
t_one[0]

'foo'

In [29]:
# Start from right
t_one[-2]

'foo'

In [39]:
added_tuple = t_one + t_two
# Remove duplicated values from tuple
set(added_tuple)

{'bar', 'baz', 'foo'}